<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:fragment="beer-form(title)" action="#" th:action="@{__${requestURI}__}" th:object="${beer}" method="post">
  <h2 th:text="${title}"> Page Title</h2>
  <label th:text="#{beer.label.name}">Beer</label>
  <br/>
  <input type="text" th:field="*{name}"/>
  <label class="error" th:errors="*{name}">Name error placeholder</label>
  <br/><br/>

  <label th:text="#{beer.label.description}">Description</label>
  <label class="error" th:errors="*{description}">Description error placeholder</label>
  <br/>
  <input type="text" th:field="*{description}"/>
  <br/><br/>

  <label th:text="#{beer.label.abv}">ABV</label>
  <label class="error" th:errors="*{abv}">Abv error placeholder</label>
  <br/>
  <input type="text" th:field="*{abv}"/>
  <br/><br/>

  <label th:text="#{beer.label.style}">Style</label>
  <label class="error" th:errors="*{styleId}">Style error placeholder</label>
  <br/>
  <select th:field="*{styleId}">
    <option th:each="style: ${styles}"
            th:value="${style.getId()}"
            th:text="${style.getName()}">
      BeerStyleOne
    </option>
  </select>

  <br/><br/>

  <label th:text="#{beer.label.brewery}">Brewery</label>
  <label class="error" th:errors="*{breweryId}">Brewery error placeholder</label>
  <br/>
  <select th:field="*{breweryId}">
    <option th:each="brewery: ${breweries}"
            th:value="${brewery.getId()}"
            th:text="${brewery.getName()}">
      BeerBreweryOne
    </option>
  </select>
  <br/><br/>
  <input type="submit" value="Save"/>
</form>
</body>
</html>