<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head th:replace="~{fragments/PageLayout.html:: head('About')}"></head>
<body>
<!-- The header and footer section are the same in each page -->
<header th:replace="~{fragments/PageLayout.html:: header}"></header>
<div class="body-content">
  <!-- The main content of the page goes here -->
  <h2 th:utext="#{about.info}">About info here</h2>
</div>
<footer th:replace="~{fragments/PageLayout.html:: footer}"></footer>
</body>
</html>