<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/PageLayout.html:: head('Beers List')}"></head>
<body>
<!-- The header and footer section are the same in each page -->
<header th:replace="~{fragments/PageLayout.html:: header}"></header>

<form class="body-content" action="#" th:action="@{__${requestURI}__}" th:object="${filterDto}" method="get">
  <input type="text" placeholder="BeerName" th:field="*{name}"/>
  <input type="number" placeholder="BeerName" min="0" max="40" th:field="*{minAbv}"/>
  <input type="number" placeholder="BeerName" min="0" max="40" th:field="*{maxAbv}"/>

  <select th:field="*{styleId}">
    <option value="">Any Style</option>
    <option th:each="style: ${styles}"
            th:value="${style.getId()}"
            th:text="${style.getName()}">
      BeerStyleOne
    </option>
  </select>

  <select th:field="*{sortBy}">
    <option value="">Default</option>
    <option value="name">by name</option>
    <option value="abv">by abv</option>
    <option value="style">by Style</option>
  </select>

  <select th:field="*{sortOrder}">
    <option value="">Ascending</option>
    <option value="desc">Descending</option>
  </select>
  <input type="submit" value="Filter"> Filter</input>
</form>

<div>
  <!-- The main content of the page goes here -->
  <br>
  <div th:if="${beers.isEmpty()}">
    <h2 th:text ="#{beers.title.empty}">No Beers</h2>
  </div>
  <div th:unless="${beers.isEmpty()}">
    <h2 th:text="#{beers.title}">All Beers |</h2>
    <h2 th:if="${isAuthenticated}"><a href="./beer-new.html" th:href="@{/beers/new}">Create New Beer</a></h2>
  <table class="styled-table">
    <thead>
    <tr>
      <th th:text="#{beer.image}">Image</th>
      <th th:text="#{beer.label.name}">Name</th>
      <th th:text="#{beer.label.description}">Description</th>
      <th th:text="#{beer.label.abv}">ABV</th>
      <th th:text="#{beer.label.style}">Style</th>
      <th th:text="#{beer.label.brewery}">Brewery</th>
      <th th:if="${isAuthenticated}" th:text="#{beer.actions}">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="beer: ${beers}">
      <td class="beerIcon"><img src="../static/images/favicon.ico"  alt="Beer Icon" th:src="@{/images/favicon.ico}"/></td>
      <td>
        <a href="#" th:href="@{/beers/{id}(id=${beer.getId()})}" th:text="${beer.name}">Beer Name</a>
      </td>
      <td th:text="${beer.description}">Description</td>
      <td th:text="${beer.abv}">ABV</td>
      <td th:text="${beer.style.name}">Style Name</td>
      <td th:text="${beer.brewery.name}">Brewery Name</td>
      <td th:if="${isAuthenticated}"><form  th:action="@{/wishlist/add}" method="post">
        <input type="hidden" th:name="beerId" th:value="${beer.id}" />
        <button type="submit" class="btn-primary">Add to wish list</button>
      </form>
        <form  th:action="@{/wishlist/mark-as-drunk}" method="post">
          <input type="hidden" th:name="beerId" th:value="${beer.id}" />
          <button type="submit" class="btn-primary">Mark as drunk</button>
        </form>
    </tr>
    </tbody>
  </table>
  <br>
</div>
</div>
</body>
<footer th:replace="~{fragments/PageLayout.html:: footer}"></footer>
</html>