<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beer</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<h1 th:text="${beer.name}">Beer</h1>
<h1 th:text="${beer.description}">Description</h1>
<h1 th:text="${beer.abv}">ABV</h1>
<h1 th:text="${beer.style.name}">Style</h1>
<h1 th:text="${beer.brewery.name}">Brewery</h1>
<h1 th:text="${beer.createdBy.email}">Creator's email</h1>
</body>
</html>