<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/PageLayout.html:: head('Beers List')}"></head>
<body>
<!-- The header and footer section are the same in each page -->
<header th:replace="~{fragments/PageLayout.html:: header}"></header>
<div  id="searchBar">
  <label for="beer-search-field"></label><input
          onkeydown="onKeyDown()"
          id="beer-search-field"
          type="text"
          placeholder="Search..."
  />
  <label for="style-select">Style:</label>
  <select id="style-select">
    <option value="">Any</option>
    <option value="1">IPA</option>
    <option value="2">EPA</option>
    <option value="3">Weiss</option>
    <option value="4">Stout</option>
  </select>
  <label for="country-select">Country:</label>
  <select id="country-select">
    <option value="">Any</option>
    <option value="1">Bulgaria</option>
    <option value="2">Germany</option>
    <option value="3">Belgium</option>
    <option value="4">England</option>
  </select>
  <button onclick="search()">Search!</button>
</div>
<div>
  <!-- The main content of the page goes here -->
  <br>
  <div th:if="${beers.isEmpty()}">
    <h2 th:text ="#{beers.title.empty}">No Beers</h2>
  </div>
  <div th:unless="${beers.isEmpty()}">
    <h2 th:text="#{beers.title}">All Beers |</h2>
    <h2><a href="./beer-new.html" th:href="@{/beers/new}">Create New Beer</a></h2>
  <table class="styled-table">
    <thead>
    <tr>
      <th th:text="#{beer.image}">Image</th>
      <th th:text="#{beer.label.name}">Name</th>
      <th th:text="#{beer.label.description}">Description</th>
      <th th:text="#{beer.label.abv}">ABV</th>
      <th th:text="#{beer.label.style}">Style</th>
      <th th:text="#{beer.label.brewery}">Brewery</th>
      <th th:text="#{beer.actions}">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="beer: ${beers}">
      <td class="beerIcon"><img src="../static/images/favicon.ico"  alt="Beer Icon" th:src="@{/images/favicon.ico}"/></td>
      <td>
        <a href="#" th:href="@{/beers/{id}(id=${beer.getId()})}" th:text="${beer.name}">Beer Name</a>
      </td>
      <td th:text="${beer.description}">Description</td>
      <td th:text="${beer.abv}">ABV</td>
      <td th:text="${beer.style.name}">Style Name</td>
      <td th:text="${beer.brewery.name}">Brewery Name</td>
      <td><form th:action="@{/wishlist/add}" method="post">
        <input type="hidden" th:name="beerId" th:value="${beer.id}" />
        <button type="submit" class="btn-primary">Add to wish list</button>
      </form>
        <form th:action="@{/wishlist/mark-as-drunk}" method="post">
          <input type="hidden" th:name="beerId" th:value="${beer.id}" />
          <button type="submit" class="btn-primary">Mark as drunk</button>
        </form>
    </tr>
    </tbody>
  </table>
  <br>
</div>
</div>
</body>
<footer th:replace="~{fragments/PageLayout.html:: footer}"></footer>
</html>