<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>BeerTag</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<!-- The header and footer section are the same in each page -->
<header>
    <div>
        <img src="../static/images/logo.png" alt="BeerTag Logo" class="header-image" th:src="@{/images/logo.png}">
        <h3>
            <a href="./HomeView.html" th:href="@{/}">Home</a>
            | <a href="./BeersView.html" th:href="@{/beers}">Beers</a>
            | <a href="./AboutView.html" th:href="@{/about}">About</a>
        </h3>
    </div>
</header>
<div class="body-content">
    <!-- The main content of the page goes here -->
    <h2 th:text="#{home.info}">Home Info</h2>
    <img src="../static/images/favicon.ico" alt="Beer Icon" class="centered-icon" th:src="@{/images/favicon.ico}">
</div>
<footer>
    <small>©️ Copyright 2025, BeerTag</small>
</footer>
</body>
</html>